<div class="container">
    <div class="row">
        <div class="col-md-6"><h3 class="text-center my-4">Search For Weather:</h3>
            <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToWeatherStack(weatherSearchForm.value)">
                
                <div class="from-group">
                    <input type="text" class="form-control" id="weatherlocation"
                    aria-describedby="weatherlocation" placeholder="Please type a City/Town" formControlName="location" />
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-success my-4">Search for Weather</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6"><h3 class="text-center my-4">Weather For Details</h3>
            <div class="col-md-6">
                <!-- <h3 class="text-center my-4">Weather Details: {{this.weatherData?.current.condition.text}} </h3> -->
                <p class="text-center">Current weather conditions:</p>
                <p class="text-center">Temperature in Degrees Celsius:</p>
                <p class="text-center">Temperature in Degrees Farenheit:</p>
                <p class="text-center">Feels like in Degrees Celsius:</p>
                <p class="text-center">Feels like in Degrees Farenheit:</p>
                <p class="text-center">Location Searched:</p>
              </div>
        </div>
    </div>
</div>